# Virtual environment
.venv/
venv/

# Database
smartpot.db
smartpot.db-wal
smartpot.db-shm

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Env
.env

# OS / editor
.DS_Store
.vscode/
.idea/
*.swp

# Other
pictures/
